body {
	background-color: #2f3238 !important;
}

.top-nav {
	border-radius: 0px;
}

@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
}